@use "./variables" as *;

body {
    background-color: $background-color !important;
}

.custom-select {
    border-color: $border-color;
    border-radius: $border-radius !important;
    cursor: pointer;
    &:focus {
        border-color: $border-color-focus;
        box-shadow: $focus-box-shadow;
    }
}

.rarity-box {
    display: block;
    width: fit-content;
    margin: 0 auto 0.5rem auto;
    padding: 5px 10px;
    color: white;
    border-radius: $border-radius;
}
.item-box {
    text-decoration: none;
    border-radius: $border-radius;
    color: #1a202c;
    transition: all 0.2s ease-in-out;
    &:hover {
        -webkit-box-shadow: 5px 5px 20px -6px rgba(66, 68, 90, 1);
        -moz-box-shadow: 5px 5px 20px -6px rgba(66, 68, 90, 1);
        box-shadow: 5px 5px 20px -6px rgba(66, 68, 90, 1);
    }
}
.rarity-box-empty {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
